Source: online-python-tutor
Section: unknown
Priority: optional
Maintainer: Olivier Berger <obergix@debian.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/online-python-tutor.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/online-python-tutor.git;a=summary

Package: online-python-tutor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, online-python-tutor-backend, online-python-tutor-frontend
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: online-python-tutor-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, httpd-cgi
Suggests: online-python-tutor-frontend
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: online-python-tutor-frontend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: online-python-tutor-backend
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: online-python-tutor-doc
Architecture: all
Description: documentation for online-python-tutor
 <insert long description, indented with spaces>
